.Header {
    background-color: white;
    height: 50px;
    padding: 20px;    
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D1D1D1;
  }

.Header-logo  {
    height : 50px;    
    margin-right: 15px;
  }

.Header-title {
    font-size: 1.5em;         
    display: inline;
  }
  